<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/grl/Logos Utel 1.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Universidad
      </a>
    </div>
</nav>

<header class="banner">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="order-2 col-10 order-md-1 col-md-5 dis-flex flex-col align-s">
                <h1 class="txVerde ml-4">
                    Tecnología educativa
                </h1>
                <p class="ml-3 mt-3 mb-5">
                    Sin importar la profesión que se ejerza, todos los profesionistas deben adaptarse a los cambios, actualizar sus conocimientos regularmente e incorporar nuevas habilidades a su práctica profesional, pues son aspectos altamente valorados por las empresas.
                </p>

                <div class="dis-flex w100p mb-5">
                    <button type="button" class="btn btn-success p-3"  data-toggle="modal" data-target="#utelModal">
                        Ver ficha técnica
                    </button>
                </div>
            </div>
            <div class="order-1 col-8 order-md-2 col-md-6 dis-flex">
                <img src="assets/img/grl/banner.png" class="img-fluid">
            </div>
        </div>
    </div>
</header>

<div class="container-fluid bgGris txBlanco py-4">
    <div class="row justify-content-center">
        <div class="col-8 col-md-5 p-5">
            <img src="assets/img/grl/Logos Utel 1.png" class="img-fluid">
        </div>
        <div class="col-10 col-md-6 dis-flex flex-col align-s">
            <h2 class="mb-3">
                Dirigido a
            </h2>
            <p class="mr-3 mb-4">
                Maestros, pedagogos, psicólogos, administradores educativos, profesionales de la educación y todos aquellos interesados en el diseño y desarrollo de proyectos educativos innovadores.
            </p>
            <h2 class="my-3">
                Duración
            </h2>
            <p class="mr-3">
                El curso tiene una duración de 49 horas, distribuidas en 7 semanas.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-8 col-md-8 dis-flex flex-col align-s">
            <h2 class="mb-3">
                Resumen de temario
            </h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 dis-flex justify-s">
                        <div class="dis-flex">
                            <div class="number txVerde">
                                1.
                            </div>
                            <p class="ml-2">
                                Ambientes virtuales de aprendizaje
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 dis-flex justify-s">
                        <div class="dis-flex">
                            <div class="number txVerde">
                                2.
                            </div>
                            <p class="ml-2">
                                Diseño instruccional en AVA
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 dis-flex justify-s">
                        <div class="dis-flex">
                            <div class="number txVerde">
                                3.
                            </div>
                            <p class="ml-2">
                                Elaboración de objetos de aprendizaje
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 dis-flex justify-s">
                        <div class="dis-flex">
                            <div class="number txVerde">
                                4.
                            </div>
                            <p class="ml-2">
                                Desarrollo de proyectos educativos mediante el uso de tecnologías
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid cintillo bgVerde">
    <div class="row">
        <div class="col-12 dis-flex">
            <img src="assets/img/grl/Logos Utel 3.png">
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="order-2 col-10 order-md-1 col-md-4 dis-flex flex-col align-s">
            <h2 class="mb-3">
                Ficha técnica
            </h2>
            <p>
                El curso de Tecnología educativa permite adquirir conocimientos teórico-prácticos, desarrollar habilidades y generar actitudes sobre la incorporación de innovaciones de carácter tecnológico al ámbito educativo.
            </p>
            <div class="dis-flex w100p my-5">
                <button type="button" class="btn btn-success p-3" data-toggle="modal" data-target="#utelModal">
                    Ver ficha técnica
                </button>
            </div>
        </div>
        <div class="order-1 col-8 order-md-2 col-md-4">
            <img src="assets/img/grl/ficha.png" class="img-fluid">
        </div>
    </div>
</div>

<div class="container-fluid cintillo bgGris">
    <div class="row">
        <div class="col-12 dis-flex">
            <img src="assets/img/grl/Logos Utel 3.png">
        </div>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="utelModal" tabindex="-1" role="dialog" aria-labelledby="utelModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bgVerde txBlanco">
          <h5 class="modal-title" id="exampleModalLongTitle">Descargar ficha técnica</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="formFirst" *ngIf="!formSend">
                <p class="my-3">
                    Por favor, llena el siguiente formulario para poder acceder a una ficha técnica.
                </p>
    
                <form #FormCheck="ngForm" (ngSubmit)="loginSesion(FormCheck)">
                    <div class="form-group row">
                      <label for="formNombre" class="col-sm-2 col-form-label">Nombre completo</label>
                      <div class="col-sm-10">
                        <input [ngClass]="{inputErr: formName.dirty && !formName.valid && formName.value === ''}"
                                type="text" class="form-control" id="formNombre" placeholder="Pj. Luis Couoh"
                                name="formName" ngModel required #formName="ngModel" formName>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="formEmail" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input [ngClass]="{inputErr: formEmail.dirty  && !formEmail.valid }"
                                type="email" class="form-control" id="formEmail" placeholder="Pj. luis@mail.com"
                                name="formEmail" ngModel required #formEmail="ngModel" formEmail email>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2"></div>
                      <div class="col-sm-10">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck1">
                          <label class="form-check-label" for="gridCheck1">
                            Recibir promociones especiales
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button [disabled]="!FormCheck.valid"
                         type="submit" class="btn btn-success p-3 float-right btn btn-primary">
                            Listo
                        </button>
                      </div>
                    </div>
                </form>
            </div>

            <div class="formDownload" *ngIf="formSend">
                <h3>¡Gracias!</h3>
                <p>
                    La ficha técnica del curso está lista para ser descargada.
                </p>
                <strong>
                    <a class="txVerde float-center ml-3 cursorPointer"
                        (click)="$event.preventDefault(); showDoc()">
                        Presione aquí para mirar
                    </a>
                </strong>
            </div>
        </div>
      </div>
    </div>
  </div>